## Order size distributions
This script computes order size distributions from historical demand data collected form 
demand transactions in MMI.

In [2]:
import pandas as pd
import numpy as np

In [3]:
investigated_items_path = "/Volumes/GoogleDrive/.shortcut-targets-by-id/10oYqI9u7nCLK0q7xF2CvGGIQVokusjaI/Exjobb/7. Data collection/investigated_items.xlsx"
items = pd.read_excel(investigated_items_path,"Sheet1")
items.head(3)

  Interesting items
0        1030-61460
1          11033998
2          11033999

In [8]:
excel_path = "/Volumes/GoogleDrive/.shortcut-targets-by-id/10oYqI9u7nCLK0q7xF2CvGGIQVokusjaI/Exjobb/7. Data collection/item_demand_size_distributions.xlsx"
writer = pd.ExcelWriter(excel_path)

for item_code in items["Interesting items"]:
    demand_history_dir = "/Volumes/GoogleDrive/.shortcut-targets-by-id/10oYqI9u7nCLK0q7xF2CvGGIQVokusjaI/Exjobb/7. Data collection/item_demand_history_csv_files"
    demand_history_path = f"{demand_history_dir}/dh_{item_code}.csv"
    demand_history_df = pd.read_csv(demand_history_path)

    input_dir = "/Volumes/GoogleDrive/.shortcut-targets-by-id/10oYqI9u7nCLK0q7xF2CvGGIQVokusjaI/Exjobb/7. Data collection/item_input_csv_files"
    input_path = f"{input_dir}/item_{item_code}_input.csv"
    input_df = pd.read_csv(input_path)

    # Create output df
    demand_size_dist_df = pd.DataFrame()

    for name in input_df["Name"]:
        if name == "Johannesburg":
            continue

        # Picking out demands the the dealer at hand.
        demand_history_dealer_df = demand_history_df[demand_history_df["Warehouse"] == name]
        
        # Removing demands of negative values
        demand_history_dealer_df = demand_history_dealer_df.astype({"Demanded qty.": int})
        demand_history_dealer_df = demand_history_dealer_df.loc[demand_history_dealer_df["Demanded qty."] >= 0]

        # Counting orders of different demand size 
        demand_count_dict = {}
        for q in demand_history_dealer_df["Demanded qty."]:
            if q in demand_count_dict:
                demand_count_dict[q] += 1
            else:
                demand_count_dict[q] = 1
        total_amount_of_orders = len(demand_history_dealer_df)

        # Computing demand size frequencies.
        demand_frequency_dict = {}
        for key in demand_count_dict.keys():
            demand_frequency_dict[key] = demand_count_dict[key]/total_amount_of_orders

        max_demand_size = int(max(demand_frequency_dict.keys()))

        # Index 0 contains freq of demand size 1 and so on.
        demand_size_frequency_list = []
        for i in range(max_demand_size):
            k = i+1
            if k in demand_frequency_dict:
                demand_size_frequency_list.append(demand_frequency_dict[k])
            else:
                demand_size_frequency_list.append(0)

        demand_size_arr = pd.Series(demand_size_frequency_list)
        assert (demand_size_arr.sum(0) >= 1-10**-4 and demand_size_arr.sum(0) <= 1+10**-4) , f"Sum of {item_code}, {name} is: {demand_size_arr.sum()}, not 1"
               
        if not demand_size_dist_df.empty:
            while len(demand_size_dist_df) < len(demand_size_arr):
                demand_size_dist_matrix = demand_size_dist_df.to_numpy()
                demand_size_dist_matrix = np.pad(demand_size_dist_matrix, ((0,len(demand_size_arr)-len(demand_size_dist_df)),(0,0)))
                demand_size_dist_df = pd.DataFrame(demand_size_dist_matrix,columns=demand_size_dist_df.columns)

        demand_size_dist_df[name] =  demand_size_arr


    # Saving to csv
    csv_dir = "/Volumes/GoogleDrive/.shortcut-targets-by-id/10oYqI9u7nCLK0q7xF2CvGGIQVokusjaI/Exjobb/7. Data collection/item_demand_size_distributions_csv_files"
    csv_path = f"{csv_dir}/item_{item_code}_d_size_dist.csv"
    demand_size_dist_df.to_csv(csv_path)

    # Writing to excel
    excel_sheet_name = f"item_{item_code}_d_size_dist"
    demand_size_dist_df.to_excel(writer, sheet_name = excel_sheet_name) 

writer.save()

0     0.924528
1     0.066038
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.000000
9     0.000000
10    0.000000
11    0.000000
12    0.000000
13    0.000000
14    0.000000
15    0.000000
16    0.000000
17    0.000000
18    0.000000
19    0.009434
dtype: float64 1.0
Dataframe Before:    Bartlett  Bloemfontein  Capetown
0  0.813953       0.97619  0.970297
1  0.104651       0.02381  0.029703
2  0.034884           NaN       NaN
3  0.034884           NaN       NaN
4  0.000000           NaN       NaN
5  0.011628           NaN       NaN
Matrix before: [[0.81395349 0.97619048 0.97029703]
 [0.10465116 0.02380952 0.02970297]
 [0.03488372        nan        nan]
 [0.03488372        nan        nan]
 [0.                nan        nan]
 [0.01162791        nan        nan]]
14
Matrix after: [[0.81395349 0.97619048 0.97029703]
 [0.10465116 0.02380952 0.02970297]
 [0.03488372        nan        nan]
 [0.03488372        nan        nan]
 [0.                nan        nan]
 [0.01162791        nan        nan]
 [0.         0.         0.        ]
 [0.         0.         0.        ]
 [0.         0.         0.        ]
 [0.         0.         0.        ]
 [0.         0.         0.        ]
 [0.         0.         0.        ]
 [0.         0.         0.        ]
 [0.         0.         0.        ]
 [0.         0.         0.        ]
 [0.         0.         0.        ]
 [0.         0.         0.        ]
 [0.         0.         0.        ]
 [0.         0.         0.        ]
 [0.         0.         0.        ]]
Dataframe after:     Bartlett  Bloemfontein  Capetown
0   0.813953       0.97619  0.970297
1   0.104651       0.02381  0.029703
2   0.034884           NaN       NaN
3   0.034884           NaN       NaN
4   0.000000           NaN       NaN
5   0.011628           NaN       NaN
6   0.000000       0.00000  0.000000
7   0.000000       0.00000  0.000000
8   0.000000       0.00000  0.000000
9   0.000000       0.00000  0.000000
10  0.000000       0.00000  0.000000
11  0.000000       0.00000  0.000000
12  0.000000       0.00000  0.000000
13  0.000000       0.00000  0.000000
14  0.000000       0.00000  0.000000
15  0.000000       0.00000  0.000000
16  0.000000       0.00000  0.000000
17  0.000000       0.00000  0.000000
18  0.000000       0.00000  0.000000
19  0.000000       0.00000  0.000000
Dataframe Before:     Bartlett  Bloemfontein  Capetown    Durban    George  Kimberley  \
0   0.813953       0.97619  0.970297  0.924528  0.900000   0.948718
1   0.104651       0.02381  0.029703  0.066038  0.033333   0.051282
2   0.034884           NaN       NaN  0.000000  0.000000        NaN
3   0.034884           NaN       NaN  0.000000  0.000000        NaN
4   0.000000           NaN       NaN  0.000000  0.000000        NaN
5   0.011628           NaN       NaN  0.000000  0.000000        NaN
6   0.000000       0.00000  0.000000  0.000000  0.000000        NaN
7   0.000000       0.00000  0.000000  0.000000  0.033333        NaN
8   0.000000       0.00000  0.000000  0.000000  0.000000        NaN
9   0.000000       0.00000  0.000000  0.000000  0.000000        NaN
10  0.000000       0.00000  0.000000  0.000000  0.000000        NaN
11  0.000000       0.00000  0.000000  0.000000  0.000000        NaN
12  0.000000       0.00000  0.000000  0.000000  0.000000        NaN
13  0.000000       0.00000  0.000000  0.000000  0.000000        NaN
14  0.000000       0.00000  0.000000  0.000000  0.000000        NaN
15  0.000000       0.00000  0.000000  0.000000  0.033333        NaN
16  0.000000       0.00000  0.000000  0.000000       NaN        NaN
17  0.000000       0.00000  0.000000  0.000000       NaN        NaN
18  0.000000       0.00000  0.000000  0.000000       NaN        NaN
19  0.000000       0.00000  0.000000  0.009434       NaN        NaN

    Middelburg
0          1.0
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19         NaN
Matrix before: [[0.81395349 0.97619048 0.97029703 0.9245283  0.9        0.94871795
  1.        ]
 [0.10465116 0.02380952 0.02970297 0.06603774 0.03333333 0.05128205
         nan]
 [0.03488372        nan        nan 0.         0.                nan
         nan]
 [0.03488372        nan        nan 0.         0.                nan
         nan]
 [0.                nan        nan 0.         0.                nan
         nan]
 [0.01162791        nan        nan 0.         0.                nan
         nan]
 [0.         0.         0.         0.         0.                nan
         nan]
 [0.         0.         0.         0.         0.03333333        nan
         nan]
 [0.         0.         0.         0.         0.                nan
         nan]
 [0.         0.         0.         0.         0.                nan
         nan]
 [0.         0.         0.         0.         0.                nan
         nan]
 [0.         0.         0.         0.         0.                nan
         nan]
 [0.         0.         0.         0.         0.                nan
         nan]
 [0.         0.         0.         0.         0.                nan
         nan]
 [0.         0.         0.         0.         0.                nan
         nan]
 [0.         0.         0.         0.         0.03333333        nan
         nan]
 [0.         0.         0.         0.                nan        nan
         nan]
 [0.         0.         0.         0.                nan        nan
         nan]
 [0.         0.         0.         0.                nan        nan
         nan]
 [0.         0.         0.         0.00943396        nan        nan
         nan]]
4
Matrix after: [[0.81395349 0.97619048 0.97029703 0.9245283  0.9        0.94871795
  1.        ]
 [0.10465116 0.02380952 0.02970297 0.06603774 0.03333333 0.05128205
         nan]
 [0.03488372        nan        nan 0.         0.                nan
         nan]
 [0.03488372        nan        nan 0.         0.                nan
         nan]
 [0.                nan        nan 0.         0.                nan
         nan]
 [0.01162791        nan        nan 0.         0.                nan
         nan]
 [0.         0.         0.         0.         0.                nan
         nan]
 [0.         0.         0.         0.         0.03333333        nan
         nan]
 [0.         0.         0.         0.         0.                nan
         nan]
 [0.         0.         0.         0.         0.                nan
         nan]
 [0.         0.         0.         0.         0.                nan
         nan]
 [0.         0.         0.         0.         0.                nan
         nan]
 [0.         0.         0.         0.         0.                nan
         nan]
 [0.         0.         0.         0.         0.                nan
         nan]
 [0.         0.         0.         0.         0.                nan
         nan]
 [0.         0.         0.         0.         0.03333333        nan
         nan]
 [0.         0.         0.         0.                nan        nan
         nan]
 [0.         0.         0.         0.                nan        nan
         nan]
 [0.         0.         0.         0.                nan        nan
         nan]
 [0.         0.         0.         0.00943396        nan        nan
         nan]
 [0.         0.         0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.         0.         0.
  0.        ]]
Dataframe after:     Bartlett  Bloemfontein  Capetown    Durban    George  Kimberley  \
0   0.813953       0.97619  0.970297  0.924528  0.900000   0.948718
1   0.104651       0.02381  0.029703  0.066038  0.033333   0.051282
2   0.034884           NaN       NaN  0.000000  0.000000        NaN
3   0.034884           NaN       NaN  0.000000  0.000000        NaN
4   0.000000           NaN       NaN  0.000000  0.000000        NaN
5   0.011628           NaN       NaN  0.000000  0.000000        NaN
6   0.000000       0.00000  0.000000  0.000000  0.000000        NaN
7   0.000000       0.00000  0.000000  0.000000  0.033333        NaN
8   0.000000       0.00000  0.000000  0.000000  0.000000        NaN
9   0.000000       0.00000  0.000000  0.000000  0.000000        NaN
10  0.000000       0.00000  0.000000  0.000000  0.000000        NaN
11  0.000000       0.00000  0.000000  0.000000  0.000000        NaN
12  0.000000       0.00000  0.000000  0.000000  0.000000        NaN
13  0.000000       0.00000  0.000000  0.000000  0.000000        NaN
14  0.000000       0.00000  0.000000  0.000000  0.000000        NaN
15  0.000000       0.00000  0.000000  0.000000  0.033333        NaN
16  0.000000       0.00000  0.000000  0.000000       NaN        NaN
17  0.000000       0.00000  0.000000  0.000000       NaN        NaN
18  0.000000       0.00000  0.000000  0.000000       NaN        NaN
19  0.000000       0.00000  0.000000  0.009434       NaN        NaN
20  0.000000       0.00000  0.000000  0.000000  0.000000   0.000000
21  0.000000       0.00000  0.000000  0.000000  0.000000   0.000000
22  0.000000       0.00000  0.000000  0.000000  0.000000   0.000000
23  0.000000       0.00000  0.000000  0.000000  0.000000   0.000000

    Middelburg
0          1.0
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19         NaN
20         0.0
21         0.0
22         0.0
23         0.0
    Bartlett  Bloemfontein  Capetown    Durban    George  Kimberley  \
0   0.813953       0.97619  0.970297  0.924528  0.900000   0.948718
1   0.104651       0.02381  0.029703  0.066038  0.033333   0.051282
2   0.034884           NaN       NaN  0.000000  0.000000        NaN
3   0.034884           NaN       NaN  0.000000  0.000000        NaN
4   0.000000           NaN       NaN  0.000000  0.000000        NaN
5   0.011628           NaN       NaN  0.000000  0.000000        NaN
6   0.000000       0.00000  0.000000  0.000000  0.000000        NaN
7   0.000000       0.00000  0.000000  0.000000  0.033333        NaN
8   0.000000       0.00000  0.000000  0.000000  0.000000        NaN
9   0.000000       0.00000  0.000000  0.000000  0.000000        NaN
10  0.000000       0.00000  0.000000  0.000000  0.000000        NaN
11  0.000000       0.00000  0.000000  0.000000  0.000000        NaN
12  0.000000       0.00000  0.000000  0.000000  0.000000        NaN
13  0.000000       0.00000  0.000000  0.000000  0.000000        NaN
14  0.000000       0.00000  0.000000  0.000000  0.000000        NaN
15  0.000000       0.00000  0.000000  0.000000  0.033333        NaN
16  0.000000       0.00000  0.000000  0.000000       NaN        NaN
17  0.000000       0.00000  0.000000  0.000000       NaN        NaN
18  0.000000       0.00000  0.000000  0.000000       NaN        NaN
19  0.000000       0.00000  0.000000  0.009434       NaN        NaN
20  0.000000       0.00000  0.000000  0.000000  0.000000   0.000000
21  0.000000       0.00000  0.000000  0.000000  0.000000   0.000000
22  0.000000       0.00000  0.000000  0.000000  0.000000   0.000000
23  0.000000       0.00000  0.000000  0.000000  0.000000   0.000000

    Middelburg  Nelspruit  Port Elizabeth  Richards Bay  Rustenburg  \
0          1.0   0.910714           0.750      0.764706        0.75
1          NaN   0.017857           0.125      0.176471        0.00
2          NaN   0.017857           0.125      0.000000        0.25
3          NaN   0.000000             NaN      0.000000         NaN
4          NaN   0.000000             NaN      0.058824         NaN
5          NaN   0.017857             NaN           NaN         NaN
6          NaN   0.000000             NaN           NaN         NaN
7          NaN   0.000000             NaN           NaN         NaN
8          NaN   0.000000             NaN           NaN         NaN
9          NaN   0.000000             NaN           NaN         NaN
10         NaN   0.000000             NaN           NaN         NaN
11         NaN   0.000000             NaN           NaN         NaN
12         NaN   0.000000             NaN           NaN         NaN
13         NaN   0.000000             NaN           NaN         NaN
14         NaN   0.000000             NaN           NaN         NaN
15         NaN   0.000000             NaN           NaN         NaN
16         NaN   0.000000             NaN           NaN         NaN
17         NaN   0.000000             NaN           NaN         NaN
18         NaN   0.000000             NaN           NaN         NaN
19         NaN   0.017857             NaN           NaN         NaN
20         0.0   0.000000             NaN           NaN         NaN
21         0.0   0.000000             NaN           NaN         NaN
22         0.0   0.000000             NaN           NaN         NaN
23         0.0   0.017857             NaN           NaN         NaN

    Steelpoort
0          1.0
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19         NaN
20         NaN
21         NaN
22         NaN
23         NaN
Dataframe Before:     Bartlett  Bloemfontein  Capetown   Durban    George  Kimberley  Middelburg
0   0.918440          0.94  0.957364  0.96139  0.911392   0.921875    0.891304
1   0.039007          0.05  0.034884  0.03861  0.075949   0.078125    0.065217
2   0.010638          0.01  0.003876      NaN  0.000000        NaN    0.021739
3   0.010638           NaN  0.003876      NaN  0.000000        NaN    0.000000
4   0.000000           NaN       NaN      NaN  0.000000        NaN    0.021739
5   0.014184           NaN       NaN      NaN  0.000000        NaN         NaN
6   0.000000           NaN       NaN      NaN  0.000000        NaN         NaN
7   0.000000           NaN       NaN      NaN  0.000000        NaN         NaN
8   0.000000           NaN       NaN      NaN  0.000000        NaN         NaN
9   0.000000           NaN       NaN      NaN  0.000000        NaN         NaN
10  0.000000           NaN       NaN      NaN  0.000000        NaN         NaN
11  0.000000           NaN       NaN      NaN  0.000000        NaN         NaN
12  0.000000           NaN       NaN      NaN  0.012658        NaN         NaN
13  0.000000           NaN       NaN      NaN       NaN        NaN         NaN
14  0.003546           NaN       NaN      NaN       NaN        NaN         NaN
15  0.000000           NaN       NaN      NaN       NaN        NaN         NaN
16  0.000000           NaN       NaN      NaN       NaN        NaN         NaN
17  0.000000           NaN       NaN      NaN       NaN        NaN         NaN
18  0.000000           NaN       NaN      NaN       NaN        NaN         NaN
19  0.000000           NaN       NaN      NaN       NaN        NaN         NaN
20  0.000000           NaN       NaN      NaN       NaN        NaN         NaN
21  0.000000           NaN       NaN      NaN       NaN        NaN         NaN
22  0.000000           NaN       NaN      NaN       NaN        NaN         NaN
23  0.000000           NaN       NaN      NaN       NaN        NaN         NaN
24  0.000000           NaN       NaN      NaN       NaN        NaN         NaN
25  0.000000           NaN       NaN      NaN       NaN        NaN         NaN
26  0.000000           NaN       NaN      NaN       NaN        NaN         NaN
27  0.000000           NaN       NaN      NaN       NaN        NaN         NaN
28  0.000000           NaN       NaN      NaN       NaN        NaN         NaN
29  0.000000           NaN       NaN      NaN       NaN        NaN         NaN
30  0.003546           NaN       NaN      NaN       NaN        NaN         NaN
Matrix before: [[0.91843972 0.94       0.95736434 0.96138996 0.91139241 0.921875
  0.89130435]
 [0.03900709 0.05       0.03488372 0.03861004 0.07594937 0.078125
  0.06521739]
 [0.0106383  0.01       0.00387597        nan 0.                nan
  0.02173913]
 [0.0106383         nan 0.00387597        nan 0.                nan
  0.        ]
 [0.                nan        nan        nan 0.                nan
  0.02173913]
 [0.0141844         nan        nan        nan 0.                nan
         nan]
 [0.                nan        nan        nan 0.                nan
         nan]
 [0.                nan        nan        nan 0.                nan
         nan]
 [0.                nan        nan        nan 0.                nan
         nan]
 [0.                nan        nan        nan 0.                nan
         nan]
 [0.                nan        nan        nan 0.                nan
         nan]
 [0.                nan        nan        nan 0.                nan
         nan]
 [0.                nan        nan        nan 0.01265823        nan
         nan]
 [0.                nan        nan        nan        nan        nan
         nan]
 [0.0035461         nan        nan        nan        nan        nan
         nan]
 [0.                nan        nan        nan        nan        nan
         nan]
 [0.                nan        nan        nan        nan        nan
         nan]
 [0.                nan        nan        nan        nan        nan
         nan]
 [0.                nan        nan        nan        nan        nan
         nan]
 [0.                nan        nan        nan        nan        nan
         nan]
 [0.                nan        nan        nan        nan        nan
         nan]
 [0.                nan        nan        nan        nan        nan
         nan]
 [0.                nan        nan        nan        nan        nan
         nan]
 [0.                nan        nan        nan        nan        nan
         nan]
 [0.                nan        nan        nan        nan        nan
         nan]
 [0.                nan        nan        nan        nan        nan
         nan]
 [0.                nan        nan        nan        nan        nan
         nan]
 [0.                nan        nan        nan        nan        nan
         nan]
 [0.                nan        nan        nan        nan        nan
         nan]
 [0.                nan        nan        nan        nan        nan
         nan]
 [0.0035461         nan        nan        nan        nan        nan
         nan]]
3
Matrix after: [[0.91843972 0.94       0.95736434 0.96138996 0.91139241 0.921875
  0.89130435]
 [0.03900709 0.05       0.03488372 0.03861004 0.07594937 0.078125
  0.06521739]
 [0.0106383  0.01       0.00387597        nan 0.                nan
  0.02173913]
 [0.0106383         nan 0.00387597        nan 0.                nan
  0.        ]
 [0.                nan        nan        nan 0.                nan
  0.02173913]
 [0.0141844         nan        nan        nan 0.                nan
         nan]
 [0.                nan        nan        nan 0.                nan
         nan]
 [0.                nan        nan        nan 0.                nan
         nan]
 [0.                nan        nan        nan 0.                nan
         nan]
 [0.                nan        nan        nan 0.                nan
         nan]
 [0.                nan        nan        nan 0.                nan
         nan]
 [0.                nan        nan        nan 0.                nan
         nan]
 [0.                nan        nan        nan 0.01265823        nan
         nan]
 [0.                nan        nan        nan        nan        nan
         nan]
 [0.0035461         nan        nan        nan        nan        nan
         nan]

In [72]:
## Extra troubleshooting code-snippet.


item_code = 15073006
#item_code = 14688861
demand_history_dir = "/Volumes/GoogleDrive/.shortcut-targets-by-id/10oYqI9u7nCLK0q7xF2CvGGIQVokusjaI/Exjobb/7. Data collection/item_demand_history_csv_files"
demand_history_path = f"{demand_history_dir}/dh_{item_code}.csv"
demand_history_df = pd.read_csv(demand_history_path)
for i,d in enumerate(demand_history_df["Demanded qty."]):
    #print(f"num: {d}, type: {type(d)}")
    try:
        x = int(d)
    except ValueError:
        print(f"This value is not possible to print: no {i}, value: {d}")

This value is not possible to print: no 7850, value: 2,000